
@model BaseItem


<div class="card">
    <img class="card-img" src="@Url.Content("~/Images/" + Model.ImageUrl)" />
    <div class="card-body">

        <p class="card-text">@Model.Description</p>
        <h4>@Model.BasePrice.ToString()</h4>


    </div>

    @if (Model.SubItems.Count != 0 || Model.ResultItems.Count != 0)
    {
<div class="pb-1">

    @if (Model.SubItems.Count != 0)
    {
        <div class="border-top list-group-flush">
            <h6 class="text-center mb-0">Ingredients</h6>
            <div class="mimic-table-tiny">
                <ul class="list-group list-group-flush mimic-rowgroup">
                    @foreach (var item in Model.SubItems)
                    {
                        <li class="list-group-item mimic-row-tiny">
                            <div><img src="@Url.Content("~/Images/" + item.SubItem.ImageUrl)" /></div>
                            <div>@Html.DisplayFor(modelItem => item.SubItem.Name)</div>
                            <div>@Html.DisplayFor(modelItem => item.Amount)</div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    }


    @if (Model.ResultItems.Count != 0)
    {
        <div class="border-top">
            <h6 class="text-center mb-0">In Recipes</h6>
            <div class="mimic-table-tiny">
                <ul class="list-group list-group-flush mimic-rowgroup">
                    @foreach (var item in Model.ResultItems)
                    {
                        <li class="list-group-item mimic-row-tiny">
                            <div><img src="@Url.Content("~/Images/" + item.SubItem.ImageUrl)" /></div>
                            <div>@Html.DisplayFor(modelItem => item.ResultItem.Name)</div>
                            <div>@Html.DisplayFor(modelItem => item.Amount)</div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    }
</div>
    }

</div>