@model InventoryViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div class="row">
        <div class="col-12">
            <h2>Your Inventory</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <!--Old Table
    <div class="row">
        <table class="table table-catalogue">
            <thead>
                <tr>
                    <th></th>
                    <th>Item</th>
                    <th>Quality</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Inventory.InventoryItems)
                {
                    <tr>
                        <td><img src="@Url.Content("~/Images/" + item.BaseItem.ImageUrl)" /></td>
                        <td>@item.BaseItem.Name</td>
                        <td>@item.Quality</td>
                        <td>@item.Price.ToString("n2")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>-->

            <div class="list-group list-group-flush mimic-table table">
                <div class="mimic-headergroup">
                    <div class="mimic-row">
                        <div></div>
                        <div>
                            Item
                        </div>
                        <div>
                            Quality
                        </div>
                        <div>
                            Value
                        </div>
                    </div>
                </div>
                <div class="mimic-rowgroup">
                    @foreach (var item in Model.Inventory.InventoryItems)
                    {
                        string selectedRow = "";
                        if (Model.SelectedInvItem != null)
                        {
                            if (item.InvItemID == (int?)Model.SelectedInvItem.InvItemID)
                            {
                                selectedRow = "active";
                            }
                        }
                        <a asp-action="Index" asp-route-id="@item.InvItemID" class="list-group-item list-group-item-action mimic-row @selectedRow">
                            <div><img src="@Url.Content("~/Images/" + item.BaseItem.ImageUrl)" /></div>
                            <div> @item.BaseItem.Name</div>
                            <div> @item.Quality</div>
                            <div> @item.Price.ToString("n2")</div>
                        </a>
                    }
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="col">
                @if (Model.SelectedInvItem != null)
                {
                    <partial name="_ItemDetailCard" model="@Model.SelectedInvItem.BaseItem" />
                }
            </div>
            <div class="w-100"></div>
            <div class="col">
                @if (Model.SelectedInvItem != null)
                {
                    <partial name="_InvItemRemoveFromInventoryButton" model="@Model.SelectedInvItem.InvItemID"/>
                }
            </div>
        </div>
    </div>

</div>