@model RecipesIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <div class="mb-1">
                <div class="d-inline-flex">
                    @if (Model.SelectedBaseItem != null)
                    {
                        <partial name="_ToItemRecipeBtn" model="@Model.SelectedBaseItem.BaseItemID" />
                    }
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-8">

            <div class="list-group list-group-flush mimic-table table">
                <div class="mimic-headergroup">
                    <div class="mimic-row">
                        <div></div>
                        <div>
                            @Html.DisplayNameFor(model => model.BaseItems.FirstOrDefault().Name)
                        </div>
                    </div>
                </div>
                <div class="mimic-rowgroup">
                    @foreach (var item in Model.BaseItems)
                    {
                        string selectedRow = "";
                        if (Model.SelectedBaseItem != null)
                        {
                            if (item.BaseItemID == (int?)Model.SelectedBaseItem.BaseItemID)
                            {
                                selectedRow = "active";
                            }
                        }
                    <a asp-action="Index" asp-route-id="@item.BaseItemID" class="list-group-item list-group-item-action mimic-row @selectedRow">
                        <div>  <img src="@Url.Content("~/Images/" + item.ImageUrl)" /></div>
                        <div> @Html.DisplayFor(modelItem => item.Name)</div>
                    </a>
                    }
                </div>
            </div>

        </div>

        <div class="col-4">
            <div class="col">
                @if (Model.SelectedBaseItem != null)
                {
                    <partial name="_RecipeDetailCard" model="@Model.SelectedBaseItem" />
                }
            </div>
            <div class="w-100"></div>
            <div class="col">
             
            </div>

        </div>
    </div>
</div>
